<footer class="site-footer">
  <div class="wrapper">
    <div class="footer-col-wrapper">
      <div class="footer-col footer-col-1">
        <h4>CONTACT</h4>

        <div class="social-links">
          {% for contact in site.footer.contact %}
          <div class="social-link contact-links">

            {% assign contact_icon_path = "/assets/img/icons/" | append:
            contact.name | downcase | append: ".png" |
            absolute_url %}
            <img src="{{ contact_icon_path }}"
              alt="{{ contact.name | downcase }}" />
            <a href="{{ contact.link }}"
              id="{{ contact.name | downcase }}-link">
              {% if contact.value and contact.value != "" and contact.value !=
              nil %}
              {{ contact.value }}
              {% else %}
              {{ contact.name }}
              {% endif %}
            </a>
          </div>

          {% endfor %}
        </div>
      </div>

      <div class="footer-col footer-col-2">
        <h4>FOLLOW</h4>

        <div class="social-links follow-links">
          {% for follow in site.footer.follow %}
          <div class="social-link">

            {% assign follow_icon_path = "/assets/img/icons/" | append:
            follow.name | downcase | append: ".png" |
            absolute_url %}
            <img src="{{ follow_icon_path }}"
              alt="{{ follow.name | downcase }}" />
            <a href="{{ follow.link }}">
              {% if follow.value and follow.value != "" and follow.value != nil
              %}
              {{ follow.value }}
              {% else %}
              {{ follow.name }}
              {% endif %}
            </a>
          </div>

          {% endfor %}
        </div>
      </div>

      <div class="footer-col footer-col-3">
        <h4>LINK</h4>

        <div class="social-links follow-links">
          {% for follow in site.footer.link %}
          <div class="social-link">

            {% assign follow_icon_path = "/assets/img/icons/" | append:
            follow.name | downcase | append: ".png" |
            absolute_url %}
            <img src="{{ follow_icon_path }}"
              alt="{{ follow.name | downcase }}" />
            <a href="{{ follow.link }}">
              {% if follow.value and follow.value != "" and follow.value != nil
              %}
              {{ follow.value }}
              {% else %}
              {{ follow.name }}
              {% endif %}
            </a>
          </div>

          {% endfor %}
        </div>
      </div>
      {% if site.footer.show_powered_by == true %}
      <div class="footer-col footer-col-3 powered-by">
        <p>
          powered by <a href="https://github.com/eliottvincent/bay">Bay</a> | {{
          'now' | date: "%Y" }}
        </p>
      </div>
      {% endif %}
      <!-- <div class="site-statistics">
        <span id="busuanzi_container_site_pv" style="color: black;">Page Views:
          <span id="busuanzi_value_site_pv"
            style="color: black;"></span>.</span>
        <span id="busuanzi_container_site_uv" style="color: black;">Visitors:
          <span id="busuanzi_value_site_uv"
            style="color: black;"></span>.</span>
      </div>
      <script async
        src="https://busuanzi.ibruce.info/busuanzi/2.3/busuanzi.pure.mini.js"></script>
    </div> -->
    <div class="site-statistics">
      <div class="stats-box">
        <span class="stat-item">
          <span class="emoji">👀</span>
          <span id="busuanzi_container_site_pv" class="stat-text">
            Page Views: <span id="busuanzi_value_site_pv" class="stat-number"></span>
          </span>
        </span>
        
        <span class="stat-item">
          <span class="emoji">👥</span>
          <span id="busuanzi_container_site_uv" class="stat-text">
            Visitors: <span id="busuanzi_value_site_uv" class="stat-number"></span>
          </span>
        </span>
      </div>
    </div>
    
    <script async src="https://busuanzi.ibruce.info/busuanzi/2.3/busuanzi.pure.mini.js"></script>    
  </div>

</footer>

{% include wechat-widget.html %}